@import '../../variables.scss';

.zoom-trigger {
    cursor: pointer;
}

.zoom-overlay {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media screen and (min-width: $mid-break) {
        top: 80px;
    }
}

.zoom-content {
    width: 100vw;
    position: fixed;
    top: 56.4px;
    background-color: var(--bg-color);

    @media screen and (min-width: $mid-break) {
        top: 80px;
    }

    &:focus {
        outline: none;
    }

    .close-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 38px;
        padding-right: 0.75rem;

        @media screen and (min-width: $mid-break) {
            padding-right: 1.8rem;
        }

        svg {
            cursor: pointer;
        }
    }

    .zoom-thumbnail {
        display: flex;
        justify-content: center;
        cursor: zoom-in;
    }

    .zoom-image-container {
        cursor: grab;
    }
}
