@import 'variables';

@font-face {
	font-family: 'Haas Grot Text Web';
	src: url('/font/NeueHaasGrotText-56Italic-Web.woff2') format('woff2'),
		 url('/font/NeueHaasGrotText-56Italic-Web.woff') format('woff');
	font-weight:  400;
	font-style:   italic;
	font-stretch: normal;
} 

@font-face {
	font-family: 'Haas Grot Text Web';
	src: url('/font/NeueHaasGrotText-55Roman-Web.woff2') format('woff2'),
		 url('/font/NeueHaasGrotText-55Roman-Web.woff') format('woff');
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
}

:root {
	font-family: 'Haas Grot Text Web';
	--text-color: #343a40;
	--bg-color: #fdfcfa;
	--base-font-size: 1.08rem;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: var(--base-font-size);
}

::selection {
	color: #fdfcfa;
	background: #5c4262;
}

pre {
	margin: 0;
	font-family: 'Haas Grot Text Web';
	white-space: pre-line;       
    white-space: -moz-pre-line;  
    white-space: -pre-line;      
    white-space: -o-pre-line;    
    word-wrap: break-word;
}

h1,
h2,
p {
	font-weight: 400;
	font-size: var(--base-font-size);
}

h1 {
	margin: 1.75rem 0;
}

p {
	line-height: 1.5;
}

a {
	color: var(--text-color);
	text-decoration: none;

	&:hover {
		color: $accent-color;
		cursor: pointer;
	}
}

.no-hover {
	color: var(--text-color) !important;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

div[role=button] {
	cursor: pointer;
	&:hover {
		color: $accent-color;
	}
}

hr {
	background: $accent-color;
	height: 1px;
	border: 0;
	margin: 1.8rem 0;
}

small {
	font-size: 1rem;
	color: $secondary-color;
}

sup {
	font-size: 0.75rem;

	&:middle {
		vertical-align: middle;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.inline-block {
	display: inline-block;
}

.page-content {
	padding: 0 1.5rem;

	@media (min-width: $mid-break) {
		padding: 0 3.5rem;
	}
}

.hide-desktop {
	@media (min-width: $mid-break) {
		display: none !important;
	}
}

.hide-mobile {
	display: none;
	@media (min-width: $mid-break) {
		display: block;
	}
}

