@import '../../variables.scss';

.footnotes {
    line-height: 1.5rem;
    margin: 100vh 1.25rem 4rem 1.25rem;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $mid-break) {
        margin-left: 0;
        margin-right: 0;
    }

    a {
        margin-right: 0.45rem;
    }

    sup {
        font-size: 0.5rem;
    }

    span {
        font-style: italic;
    }
}