@import '@/variables.scss';

.section-toggle {
    display: flex;
    align-items: center;
    color: $secondary-color;

    @media (min-width: $mid-break) {
        margin-top: 1.4rem;
    }

    &.active {
        color: #000;
    }

    &:hover {
        color: $secondary-color;

        @media (min-width: $mid-break) {
            color: $accent-color;
        }
    }

    h1 {
        margin: 0.5rem 0 0.3rem 0.5rem;
        
        @media (min-width: $mid-break) {
            margin: 0 1.4rem;
        }
    }
}
