@import '../../variables.scss';

.info {
    padding: 0 1.35rem 2rem 1.35rem;

    @media (min-width: $mid-break) {
        display: flex;
        width: 100%;
        height: calc(100% - 80px);
        padding: 0 1.35rem;
        position: fixed;
    }

    h1 {
		text-transform: uppercase;
	}

	hr {
		margin: 0.55rem 0;

		@media (min-width: $mid-break) {
			margin: 1.2rem 0;
		}
	}

	.general-info-section {
		h1 {
			margin: 1.2rem 0;
			@media (min-width: $mid-break) {
				margin: 1.4rem 0;
			}
		}
		hr {
			margin-top: 1.6rem;
			
			&:not(:last-child) {
				margin-bottom: 1.6rem;
			}
		}
	}

	ul {
		padding-left: 1rem;
		margin: 0;
	}

	.column {
		&:content {
			padding-top: 2rem;
		}

		&:nth-child(2) {
			display: none;
		}

		@media (min-width: $mid-break) {
			overflow: scroll;
			padding-bottom: 4rem;

			&:first-child {
				width: 48%;
				padding-right: 2.5rem;
				color: $secondary-color;
			}

			&:nth-child(2) {
				display: block;
				width: 52%;
				padding-left: 2.5rem;
				padding-right: 4rem;
			}
		}
	}

	.imprint {
		padding-top: 1.2rem;
        padding-bottom: 1rem;
    
        @media screen and (min-width: $mid-break) {
            padding-top: 0;
        }

		a {
			color: $secondary-color;
			&:hover {
				color: $accent-color;
			}
		}
	}
}
