@import '../../variables.scss';

.cv-section, .info-section {
    h1 {
        text-transform: uppercase;
        font-size: 0.95rem;
        margin: 1.5rem 0 0 0;
    }
    
    ul {
        padding-top: 1.2rem;
        padding-bottom: 1rem;
    
        @media screen and (min-width: $mid-break) {
            padding-top: 0;
            padding-bottom: 1.8rem;
        }
    
        &.nested {
            padding-bottom: 0;
    
            @media screen and (min-width: $mid-break) {
                padding-top: 1rem;
            }
        }
    }
    
    li {
        line-height: 1.5;
        margin-bottom: 1rem;
    }
    
    .title {
        font-style: italic;
        color: var(--text-color);
    }
    
    .detail {
        color: var(--text-color);
    }
    
    a {
        color: $secondary-color;
        &:hover {
            color: $accent-color !important;
            .title, .detail {
                color: inherit;
            }
        }
    }
}
