@import '../../variables.scss';

.arrow {
    color: $secondary-color;

    &.desktop {
        display: none;
        @media (min-width: $mid-break) {
            display: block;
            position: fixed;
            top: 49vh;
        }
    }
    &.left {
        padding-left: 2rem;
        @media (min-width: $mid-break) {
            left: 0;
        }
    }
    &.right {
        padding-right: 2rem;
        @media (min-width: $mid-break) {
            right: 0;
        }
    }
}

.mobile-arrows {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
}
