@import '@/variables.scss';

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 0.7rem;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
.embed-container {
    iframe {
        width: 100%;
        height: 75vh;
    }
}

.caption {
    color: $secondary-color;
    margin-top: 0.3rem;
}
