.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
    font-weight: 500;
}
.strikethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.code {
    font-family: monospace;
}
